<header class="header">
    <div class="solusiadil-topbar">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-5 col-12">
                    <ul class="solusiadil-top-link">
                        <li><a href="tentangkami">Solusi Adil</a></li>
                        <li><a href="kontak">Kontak</a></li>
                        <li><a href="faq">FAQ</a></li>
                        <li><a href="sop">SOP</a></li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-7 col-12">
                    <ul class="solusiadil-top-contact">
                        <li><i class="fa-brands fa-whatsapp"></i>+62 888 0188 9923</li>
                        <li><i class="fa fa-envelope"></i><a href="mailto:solusiadil.id@gmail.com">solusiadil.id@gmail.com</a></li>
                        <li><a href="/logout" style="font-size: 15px;"><i
                                    class="fa-solid fa-right-from-bracket"></i>Keluar</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header-inner">
        <div class="container">
            <div class="inner">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-12">
                        <div class="logo" style="padding-bottom: 20px; width: 150px; height: auto;">
                            <a href="index"><img src="img/logo.gif" alt="#"></a>
                        </div>
                        <div class="mobile-nav"></div>
                    </div>
                    <div class="col-lg-7 col-md-9 col-12">
                        <div class="main-menu">
                            <nav class="navigation">
                                <ul class="nav menu">
                                  <li class="<%= activePage === 'beranda' ? 'active' : '' %>"><a href="/beranda">Dashboard</a></li>
                                  <li class="<%= activePage === 'konsultasi' ? 'active' : '' %>"><a href="/konsultasi">Konsultasi</a></li>
                                  <li class="<%= activePage === 'datablog' ? 'active' : '' %>"><a href="/datablog">Blog</a></li>
                                  <li class="<%= activePage === 'datapanduan' ? 'active' : '' %>"><a href="/datapanduan">Panduan</a></li>
                                  <li class="<%= activePage === 'dataaturan' ? 'active' : '' %>"><a href="/dataaturan">Peraturan</a></li>
                                  <li class="<%= activePage === 'databerita' ? 'active' : '' %>"><a href="/databerita">Berita</a></li>
                                </ul>
                              </nav>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</header>