<!doctype html>
<html class="no-js" lang="zxx">

<head>
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="Solusi Adil">
	<meta name="description" content="">
	<meta name='copyright' content='bimamaarschal'>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Judul -->
	<title>Solusi Adil</title>
	<link rel="icon" href="img/favicon.png">

	<!-- Fonts -->
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/icofont@1.0.0/dist/icofont.min.css">

	<!-- CSS Main Style-->
	<link rel="stylesheet" href="css/solusiadil.css">

	<!-- CSS Library -->
	<link rel="stylesheet" href="css/animate.min.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/datepicker.css">
	<link rel="stylesheet" href="css/nice-select.css">
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/owl-carousel.css">
	<link rel="stylesheet" href="css/responsive.css">
	<style>
		.btn-jawab {
			background-color: #ffc107 !important;
			color: black;
			padding: 5px;
			font-size: 12px;
			margin: 5px;
		}

		.btn-lihat {
			background-color: #28a745 !important;
			color: white;
			padding: 5px;
			font-size: 12px;
			margin: 5px;
			padding-left: 8px;
			padding-right: 8px;
		}

		.btn-selesai {
			background-color: #007bff !important;
			color: white;
			padding: 5px;
			font-size: 12px;
			margin: 5px;
		}

		.btn-gagal {
			background-color: #dc3545 !important;
			color: white;
			padding: 5px;
			font-size: 12px;
			margin: 5px;
		}
	</style>
</head>

<body>

	<!-- Header Area - Awal -->
	<header class="header">
		<!-- Solusiadil-topbar - Awal-->
		<div class="solusiadil-topbar">
			<div class="container">
				<div class="row">
					<!-- Pilihan - Awal -->
					<div class="col-lg-6 col-md-5 col-12">
						<ul class="solusiadil-top-link">
							<li><a href="tentangkami">Solusi Adil</a></li>
							<li><a href="kontak">Kontak</a></li>
							<li><a href="faq">FAQ</a></li>
						</ul>
					</div>
					<!-- Pilihan - Akhir -->
					<!-- Kontak - Awal -->
					<div class="col-lg-6 col-md-7 col-12">
						<ul class="solusiadil-top-contact">
							<li><i class="fa-brands fa-whatsapp"></i>+62 888 0188 9923</li>
							<li><i class="fa fa-envelope"></i><a href="mailto:-">solusiadil.id@gmail.com</a></li>
							<li><a href="/logout" style="font-size: 15px;"><i
										class="fa-solid fa-right-from-bracket"></i>Keluar</a></li>
						</ul>
					</div>
					<!-- Kontak - Akhir-->
				</div>
			</div>
		</div>
		<!-- Solusiadil-topbar - Akhir -->
		<!-- Solusiadil-inner - Awal-->
		<div class="header-inner">
			<div class="container">
				<div class="inner">
					<div class="row">
						<div class="col-lg-3 col-md-3 col-12">
							<div class="logo" style="padding-bottom: 20px; width: auto; height: auto;">
								<a href="index"><img src="img/logo.png" alt="#"></a>
							</div>
							<div class="mobile-nav"></div>
						</div>
						<div class="col-lg-7 col-md-9 col-12">
							<div class="main-menu">
								<nav class="navigation">
									<ul class="nav menu">
										<li><a href="beranda">Dashboard</a></li>
										<li class="active"><a href="konsultasi">Konsultasi </a></li>
										<li><a href="layanan">Blog </a></li>
										<li><a href="tentangkami">SOP APPH</a></li>
										<li><a href="blog">Profil</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Solusiadil-inner - Akhir-->
	</header>
	<!-- Header Area - Akhir -->

	<!-- Single News -->
	<section class="news-single section" style="padding-top: 5px;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-2">
					<div class="row">
						<div class="col-12">
							<div class="comments-form">
								<h1 style="font-size: 18px;"><i class="fa-solid fa-compass"></i> Data Konsultasi</h1>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-8 col-6">
					<div class="row">
						<div class="col-12">

							<div class="comments-form">
								<h1 style="font-size: 18px; padding-bottom: 25px;"> Data Seluruh Konsultasi</h1>
								<% konsultasiData.sort((a, b)=> new Date(a.tanggal) - new Date(b.tanggal));
									if (konsultasiData.length > 0) {
									%>
									<table>
										<thead>
											<tr>
												<th>ID Konsultasi</th>
												<th>Status</th>
												<th>Nama Masyarakat</th>
												<th>Tanggal</th>
												<th>APPH</th>
												<th>Aksi</th>
											</tr>
										</thead>
										<tbody>
											<% konsultasiData.forEach(konsultasi=> { %>
												<tr>
													<td>
														<%= konsultasi.id_konsultasi %>
													</td>
													<td>
														<%= konsultasi.status %>
													</td>
													<td>
														<%= konsultasi.nama_mast %>
													</td>
													<td>
														<%= konsultasi.tanggal %>
													</td>
													<td>
														<%= konsultasi.id_apph %>
													</td>
													<td>
														<form
															action="<%= konsultasi.status === 'Menunggu' ? '/konsultasidt' : (konsultasi.status === 'Diproses' ? '/konsultasidt2' : '/konsultasilihat') %>"
															method="get">
															<input type="hidden" name="id"
																value="<%= konsultasi.id_konsultasi %>">
															<% if (konsultasi.status==='Menunggu' ) { %>
																<button type="submit" class="btn-jawab">Jawab</button>
																<% } else if (konsultasi.status==='Diproses' ) { %>
																	<button type="submit"
																		class="btn-lihat">Lanjut</button>
																	<% } else if (konsultasi.status==='Selesai' ) { %>
																		<button type="submit"
																			class="btn-selesai">Selesai</button>
																		<% } else if (konsultasi.status==='Gagal' ) { %>
																			<button type="submit"
																				class="btn-gagal">Lihat</button>
																			<% } %>
														</form>
													</td>
												</tr>
												<% }); %>
										</tbody>
									</table>
									<% } else { %>
										<p>Tidak ada data konsultasi yang tersedia.</p>
										<% } %>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-12">
					<div class="main-sidebar">
						<div class="single-widget recent-post">
							<h3 class="title" style="padding-bottom: 0px; margin-bottom: 0px;">Data Konsultasi</h3>
							<br>
							<div class="content">
								<ul class="comment" style="font-size: 12px;">
									<% const totalKonsultasi2=konsultasiData.length; const
										jumlahKonsultasiProses1=konsultasiData.filter(konsultasi=> konsultasi.status ===
										'Diproses').length;
										const jumlahKonsultasiSelesai1 = konsultasiData.filter(konsultasi =>
										konsultasi.status === 'Selesai').length;
										const jumlahKonsultasiGagal1 = konsultasiData.filter(konsultasi =>
										konsultasi.status === 'Gagal').length;
										%>
										<li><i class="fa-solid fa-address-card" aria-hidden="true"></i>
											Jumlah Konsultasi: <i style="background-color:darkgrey ; padding: 5px; color:black ; border-radius: 100px;">  <%= totalKonsultasi2 %> </i>
										</li>
										<li><i class="fa-solid fa-id-card" aria-hidden="true"></i>
											Jumlah Konsultasi Proses: <i style="background-color:darkgrey ; padding: 5px; color:black ; border-radius: 100px;">  <%= jumlahKonsultasiProses1 %> </i>
										</li>
										<li><i class="fa-solid fa-id-card" aria-hidden="true"></i>
											Jumlah Konsultasi Selesai: <i style="background-color:darkgrey ; padding: 5px; color:black ; border-radius: 100px;">  <%= jumlahKonsultasiSelesai1 %> </i>
										</li>
										<li><i class="fa-solid fa-id-card" aria-hidden="true"></i> 
											Jumlah Konsultasi Gagal: <i style="background-color:darkgrey ; padding: 5px; color:black ; border-radius: 100px;">  <%= jumlahKonsultasiGagal1 %> </i>
										</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-8 col-6">
					<div class="row">
						<div class="col-12">

							<div class="comments-form">
								<h1 style="font-size: 18px; padding-bottom: 25px;"> Data Konsultasi Oleh Anda</h1>
								<% const filteredData=konsultasiData.filter(konsultasi=> konsultasi.id_apph ===
									id_apph);
									filteredData.sort((a, b) => new Date(a.tanggal) - new Date(b.tanggal));
									if (filteredData.length > 0) {
									%>
									<table>
										<thead>
											<tr>
												<th>ID Konsultasi</th>
												<th>Status</th>
												<th>Nama Masyarakat</th>
												<th>Tanggal</th>
												<th>APPH</th>
												<th>Aksi</th>
											</tr>
										</thead>
										<tbody>
											<% filteredData.forEach(konsultasi=> { %>
												<tr>
													<td>
														<%= konsultasi.id_konsultasi %>
													</td>
													<td>
														<%= konsultasi.status %>
													</td>
													<td>
														<%= konsultasi.nama_mast %>
													</td>
													<td>
														<%= konsultasi.tanggal %>
													</td>
													<td>
														<%= konsultasi.id_apph %>
													</td>
													<td>
														<form
															action="<%= konsultasi.status === 'Menunggu' ? '/konsultasidt' : (konsultasi.status === 'Diproses' ? '/konsultasidt2' : '/konsultasilihat') %>"
															method="get">
															<input type="hidden" name="id"
																value="<%= konsultasi.id_konsultasi %>">
															<% if (konsultasi.status==='Menunggu' ) { %>
																<button type="submit" class="btn-jawab">Jawab</button>
																<% } else if (konsultasi.status==='Diproses' ) { %>
																	<button type="submit"
																		class="btn-lihat">Lanjut</button>
																	<% } else if (konsultasi.status==='Selesai' ) { %>
																		<button type="submit"
																			class="btn-selesai">Selesai</button>
																		<% } else if (konsultasi.status==='Gagal' ) { %>
																			<button type="submit"
																				class="btn-gagal">Lihat</button>
																			<% } %>
														</form>
													</td>
												</tr>
												<% }); %>
										</tbody>
									</table>
									<% } else { %>
										<p>Tidak ada data konsultasi yang tersedia.</p>
										<% } %>

							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-12">
					<div class="main-sidebar">
						<div class="single-widget recent-post">
							<h3 class="title" style="padding-bottom: 0px; margin-bottom: 0px;">Data Konsultasi Anda</h3>
							<br>
							<div class="content">
								<ul class="comment" style="font-size: 12px; ">
									<% const filteredData2=konsultasiData.filter(konsultasi=> konsultasi.id_apph ===
										id_apph);
										const totalKonsultasi = filteredData2.length;
										const jumlahKonsultasiProses = filteredData2.filter(konsultasi =>
										konsultasi.status === 'Diproses').length;
										const jumlahKonsultasiSelesai = filteredData2.filter(konsultasi =>
										konsultasi.status === 'Selesai').length;
										const jumlahKonsultasiGagal = filteredData2.filter(konsultasi =>
										konsultasi.status === 'Gagal').length;
										%>
										<li><i class="fa-solid fa-address-card" aria-hidden="true"></i>
											Jumlah Konsultasi: <i style="background-color:darkgrey ; padding: 5px; color:black ; border-radius: 100px;">  <%= totalKonsultasi %> </i>
										</li>
										<li><i class="fa-solid fa-id-card" aria-hidden="true"></i>
											Jumlah Konsultasi Proses: <i style="background-color:darkgrey ; padding: 5px; color:black ; border-radius: 100px;">  <%= jumlahKonsultasiProses %> </i>
										</li>
										<li><i class="fa-solid fa-id-card" aria-hidden="true"></i>
											Jumlah Konsultasi Selesai: <i style="background-color:darkgrey ; padding: 5px; color:black ; border-radius: 100px;">   <%= jumlahKonsultasiSelesai %> </i>
										</li>
										<li><i class="fa-solid fa-id-card" aria-hidden="true"></i>
											Jumlah Konsultasi Gagal: <i style="background-color:darkgrey ; padding: 5px; color:black ; border-radius: 100px;">   <%= jumlahKonsultasiGagal %> </i>
										</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!--/ End Single News -->

	<!-- Footer - Awal -->
	<footer id="akhir" class="footer " style="padding-top: 100px;">
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-6 col-12">
						<div class="single-footer">
							<h2 style="font-size: 22px;">Solusi Adil</h2>
							<p style="font-size: 12px;">Solusi adil memberikan keadilan sejati, menyelaraskan hak dan
								kewajiban untuk mewujudkan
								penyelesaian perkara hukum yang berkeadilan.</p>
							<ul class="social">
								<li><a href="https://www.facebook.com/solusiadil/"><i class="icofont-facebook"></i></a>
								</li>
								<li><a href="https://www.instagram.com/solusiadil/"><i
											class="icofont-instagram"></i></a></li>
								<li><a href="https://www.youtube.com/solusiadil/"><i class="icofont-youtube"></i></a>
								</li>
								<li><a href="https://www.linkedin.com/in/solusiadil/"><i
											class="icofont-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-footer f-link">
							<h2>Akses Cepat</h2>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-12">
									<ul>
										<li><a href="/tentangkami"><i class="fa fa-caret-right" aria-hidden="true"></i>
												Solusi
												Adil
											</a></li>
										<li><a href="/layanan"><i class="fa fa-caret-right" aria-hidden="true"></i>
												Pelayanan
											</a></li>
										<li><a href="/faq"><i class="fa fa-caret-right" aria-hidden="true"></i> FAQ </a>
										</li>
										<li><a href="/blog"><i class="fa fa-caret-right" aria-hidden="true"></i> Blog
											</a>
										</li>
										<li><a href="/kontak"><i class="fa fa-caret-right" aria-hidden="true"></i>
												Kontak
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-footer">
							<h2>Keterangan</h2>
							<p style="font-size: 12px;"> Website Solusi Adil di buat untuk keperluan Skripsi dan Sistem
								pelayanan yang akan
								digunakan di lingkup Kota Bandung </p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-12">
						<div class="copyright-content">
							<p style="font-size: 13px;">© Copyright 2024 | Di Rancang dan Di Buat oleh <a
									href="https://www.linkedin.com/in/bimamaarschal/" target="_blank">Bima
									Maarschal</a> </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer - Akhir -->

	<!-- Solusi Adil - JS Library -->
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery-migrate-3.0.0.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<script src="js/easing.js"></script>
	<script src="js/colors.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/jquery.nav.js"></script>
	<script src="js/slicknav.min.js"></script>
	<script src="js/jquery.scrollUp.min.js"></script>
	<script src="js/niceselect.js"></script>
	<script src="js/tilt.jquery.min.js"></script>
	<script src="js/owl-carousel.js"></script>
	<script src="js/jquery.counterup.min.js"></script>
	<script src="js/steller.js"></script>
	<script src="js/wow.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/main.js"></script>
</body>

</html>