<!doctype html>
<html class="no-js" lang="zxx">

<%- include('../partials/head') %>

	<body>

		<%- include('../partials/header', { activePage: 'databerita' }) %>
			<section class="news-single section" style="padding-top: 5px;">
				<div class="container">
					<div class="row">

						<div class="col-lg-12 col-12">
							<div class="row">
								<div class="col-12">
									<div class="single-main">
										<h1 class="news-title">
												<%= berita.judul %> </h1>
											<h1 class="news-title" style="font-size: 12px;">
												 <%= berita.id_berita %> </h1>
											<div class="meta" style="padding: 0px; padding-bottom: 10px;">
												<div class="meta-left" style="padding: 0px;">
													<span class="date" style="padding-left: 15px;"><i class="fa-solid fa-user-tie"></i>
														<%= berita.nama_apph %>, <%= berita.id_apph%>
													</span>
												</div>
												<br>
											</div>
											<div class="meta" style="padding: 0px; padding-bottom: 10px;">
												<div class="meta-left" style="padding: 0px;">
													<span class="date" style="padding-left: 15px;">
														Jenis : <%= berita.tag %>
													</span>
												</div>
											</div>
											<div class="meta" style="padding: 0px; padding-bottom: 10px;">
												<div class="meta-left" style="padding: 0px;">
													<span class="date" style="padding-left: 15px;">
														Keterangan : <%= berita.keterangan %>
													</span>
												</div>
											</div>
											
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-12 col-12">
							<div class="row">
								<div class="col-12">
									<div class="single-main">
										<h1 class="news-title">
												Berita </h1>
												<div class="col-lg-12 col-md-12 col-12">
													<div class="form-group message">
									
														<div id="content">
															<div id="formatted-text"></div>
														</div>

													</div>
												</div>
											
											
									</div>
								</div>
							</div>
						</div>
						
					</div>
					
				</div>
			</section>
			<section class="solusiadil-fitur" style="padding-top: 100px;">
				<div class="container">
					<div class="solusiadil-fitur-inner">
						<div class="row">
							<div class="col-lg-4 col-md-6 col-12 ">
								<div class="solusiadil-fitur-single first">
									<div class="inner">
										<div class="icon">
											<i class="fa-solid fa-scale-balanced"></i>
										</div>
										<div class="single-content">
											<h4>Menjawab Konsultasi</h4>
											<p style="font-size: 12px;">Konsultasi Hukum Online: Solusi cepat dan akurat
												untuk
												setiap permasalahan hukum
												Anda.</p>
											<a href="/konsultasi">Pilih Fitur<i class="fa fa-long-arrow-right"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6 col-12">
								<div class="solusiadil-fitur-single middle">
									<div class="inner">
										<div class="icon">
											<i class="fa-solid fa-folder-open"></i>
										</div>
										<div class="single-content">
											<h4>Tulis berita</h4>
											<p style="font-size: 13px;">Temukan Kepastian Hukum Anda: Cari berita Hukum
												yang
												Jelas dan Terpercaya di
												Sini.</p>
											<a href="/databerita">Pilih Fitur<i class="fa fa-long-arrow-right"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-12 col-12">
								<div class="solusiadil-fitur-single last">
									<div class="inner">
										<div class="icon">
											<i class="fa-solid fa-gavel"></i>
										</div>
										<div class="single-content">
											<h4>berita Hukum</h4>
											<p style="font-size: 12px;">Jelajahi keadilan dan informasi hukum melalui
												JDIH,
												pintu akses utama untuk
												pemahaman dan kepatuhan hukum.</p>
											<a href="/jdih">Pilih Fitur<i class="fa fa-long-arrow-right"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<%- include('../partials/footer') %>

				<%- include('../partials/js') %>
					<script>
						function getRandomInt(min, max) {
							min = Math.ceil(min);
							max = Math.floor(max);
							return Math.floor(Math.random() * (max - min + 1)) + min;
						}

						window.onload = function () {
							var randomNumber = getRandomInt(1, 10);
							var imgElement = document.getElementById("randomImage");
							imgElement.src = "berita/" + randomNumber + ".png";
						}
					</script>
					<script>
						function convertHtmlToTextWithFormatting(html) {
							const parser = new DOMParser();
							const doc = parser.parseFromString(html, 'text/html');
							return doc.body.innerHTML;
						}
						const htmlContent = `<%- berita.isi %>`;
						const formattedTextElement = document.getElementById('formatted-text');
						formattedTextElement.innerHTML = convertHtmlToTextWithFormatting(htmlContent);
					</script>
	</body>

</html>