<!doctype html>
<html class="no-js" lang="zxx">

<%- include('../partials/head') %>

	<body>

		<%- include('../partials/header', { activePage: 'datablog' }) %>
			<section class="news-single section" style="padding-top: 5px;">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-2">
							<div class="row">
								<div class="col-12">
									<div class="comments-form d-flex justify-content-between align-items-center">
										<h1 style="font-size: 18px;"><i class="fa-solid fa-compass"></i> Data Blog</h1>
										<div class="get-quote">
											<a href="tulisblog" class="btn">Tulis Blog Baru</a>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-8 col-6">
							<div class="row">
								<div class="col-12">

									<div class="comments-form">
										<h1 style="font-size: 18px; padding-bottom: 25px;"> Data Seluruh Blog</h1>
										<% blogData.sort((a, b)=> new Date(a.tanggal) - new Date(b.tanggal));
											if (blogData.length > 0) {
											%>
											<table>
												<thead>
													<tr>
														<th>ID Blog</th>
														<th>ID APPH</th>
														<th>Status</th>
														<th>Tanggal</th>
														<th>Aksi</th>
													</tr>
												</thead>
												<tbody>
													<% blogData.forEach(blog=> { %>
														<tr>
															<td>
																<%= blog.id_blog %>
															</td>
															<td>
																<%= blog.id_apph %>
															</td>
															<td>
																<%= blog.status %>
															</td>
															<td>
																<%= blog.tanggal %>
															</td>
															<td>
																<form
																	action="<%= blog.status === 'Menunggu' ? '/blogdt' : (blog.status === 'Diproses' ? '/blogdt2' : '/lihatblog') %>"
																	method="get">
																	<input type="hidden" name="id"
																		value="<%= blog.id_blog %>">
																	<% if (blog.status==='Menunggu' ) { %>
																		<button type="submit"
																			class="btn-jawab">Jawab</button>
																		<% } else if (blog.status==='Diproses' ) { %>
																			<button type="submit"
																				class="btn-lihat">Lanjut</button>
																			<% } else if (blog.status==='Diterima' ) {
																				%>
																				<button type="submit"
																					class="btn-selesai">Diterima -
																					Lihat</button>
																				<% } else if (blog.status==='Gagal' ) {
																					%>
																					<button type="submit"
																						class="btn-gagal">Lihat</button>
																					<% } %>
																</form>
															</td>
														</tr>
														<% }); %>
												</tbody>
											</table>
											<% } else { %>
												<p>Tidak ada data blog yang tersedia.</p>
												<% } %>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-12">
							<div class="main-sidebar">
								<div class="single-widget recent-post">
									<h3 class="title" style="padding-bottom: 0px; margin-bottom: 0px;">Data Blog</h3>
									<br>
									<div class="content">
										<ul class="comment" style="font-size: 12px;">
											<% const totalblog2=blogData.length; const
												jumlahblogProses1=blogData.filter(blog=> blog.status ===
												'Diproses').length;
												const jumlahblogSelesai1 = blogData.filter(blog => blog.status ===
												'Diterima').length;
												const jumlahblogGagal1 = blogData.filter(blog => blog.status ===
												'Gagal').length;
												%>
												<li><i class="fa-solid fa-address-card" aria-hidden="true"></i>
													Jumlah Seluruh Blog: <i
														style="background-color:darkgrey ; padding: 5px; color:black ; border-radius: 100px;">
														<%= totalblog2 %>
													</i>
												</li>
												<li><i class="fa-solid fa-id-card" aria-hidden="true"></i>
													Jumlah Blog Menunggu: <i
														style="background-color:darkgrey ; padding: 5px; color:black ; border-radius: 100px;">
														<%= jumlahblogProses1 %>
													</i>
												</li>
												<li><i class="fa-solid fa-id-card" aria-hidden="true"></i>
													Jumlah Blog Proses: <i
														style="background-color:darkgrey ; padding: 5px; color:black ; border-radius: 100px;">
														<%= jumlahblogProses1 %>
													</i>
												</li>
												<li><i class="fa-solid fa-id-card" aria-hidden="true"></i>
													Jumlah Blog Publish: <i
														style="background-color:darkgrey ; padding: 5px; color:black ; border-radius: 100px;">
														<%= jumlahblogSelesai1 %>
													</i>
												</li>
												<li><i class="fa-solid fa-id-card" aria-hidden="true"></i>
													Jumlah Blog Gagal: <i
														style="background-color:darkgrey ; padding: 5px; color:black ; border-radius: 100px;">
														<%= jumlahblogGagal1 %>
													</i>
												</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<%- include('../partials/footer') %>

				<%- include('../partials/js') %>
	</body>

</html>