<!doctype html>
<html class="no-js" lang="zxx">

<%- include('../partials/head') %>

	<body>

		<%- include('../partials/header', { activePage: 'datablog' }) %>
			<section class="news-single section" style="padding-top: 5px;">
				<div class="container">
					<div class="row"></div>
					<div class="col-lg-12 col-2">
						<div class="col-lg-12 col-12">
							<div class="row">
								<div class="col-12">
									<div class="comments-form d-flex justify-content-between align-items-center">
										<h1 style="font-size: 18px;"><i class="fa-solid fa-compass"></i>Data Blog ID <%=
												blog.id_blog %>
										</h1>
										<div class="get-quote">
											<a href="bacablog?id_blog=<%= blog.id_blog %>" class="btn">Baca Blog
												Review</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<form action="/reviewupdate" method="POST">
							<div class="col-lg-12 col-12">
								<div class="row">
									<div class="col-12">
										<div class="comments-form">
											<div class="d-flex justify-content-between align-items-center">
												<h2 style="display: inline;">
													Blog Hukum Baru
												</h2>
												<i style="font-size: 15px;" class="fa-solid fa-info-circle"
													title="Data tidak dapat diubah"></i>
											</div>
											<div class="row">
												<div class="col-lg-6 col-md-6 col-12">
													<div class="form-group position-relative">
														<small>ID blog</small>
														<div class="input-icon">
															<i class="fa-solid fa-folder-closed"></i>
															<input oninput="validateLength(this)"
																value="<%= blog.id_blog %>" name="id_blog" readonly>
														</div>
														<small id="error-message" style="color:red; display:none;">ID
															hanya terdiri
															dari 9 angka acak</small>
													</div>
												</div>
												<div class="col-lg-6 col-md-6 col-12">
													<div class="form-group position-relative">
														<small>Tanggal Pengajuan Blog</small>
														<div class="input-icon">
															<i class="fa-solid fa-calendar-days"></i>
															<input value="<%= blog.tanggal %>" name="tanggal" readonly>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-12 col-12">
								<div class="row">
									<div class="col-12">
										<div class="comments-form">
											<h2 style="display: inline;"><i style="font-size: 25px;"
													class="fa-solid fa-scale-balanced"></i> Hasil Review oleh Solusi Adil
											</h2> <br><br>
											<div class="row">
												<div class="col-lg-12 col-md-6 col-12">
													<div class="form-group">
														<small>Status Akhir Review Blog</small>
														<div class="input-icon">
															<i style="color: aliceblue;"
																class="fa-solid fa-pen-nib"></i>
															<input style="color: aliceblue;" id="status" name="status"
																value="<%= blog.status %>" type="text"
																oninput="validateJudul(this)" readonly>
															<small id="error-message-judul"
																style="color:red; display:none;">Hanya
																Alfabet A-Z
																dan tidak lebih dari 150 karakter</small>
														</div>
													</div>
												</div>
												<div class="col-lg-12 col-md-6 col-12">
													<div class="form-group message">
														<small>Keterangan Review </small>
														<div class="input-icon">
															<textarea style="height: 220px;" name="tag" rows="5"
																placeholder="Tuliskan Hasil Review Blog Anda"
																readonly><%= blog.tag %>  </textarea>
														</div>
													</div>
												</div>

											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-12 col-12">
								<div class="row">
									<div class="col-12">
										<div class="comments-form">
											<div class="d-flex justify-content-between align-items-center">
												<h2 style="display: inline;">
													Penulis Blog - Anda Pengguna Terverifikasi
												</h2>
												<i style="font-size: 15px;" class="fa-solid fa-info-circle"
													title="Data tidak dapat diubah"></i>
											</div>
											<div class="row">
												<div class="col-lg-6 col-md-6 col-12">
													<div class="form-group position-relative">
														<small>ID admin Anda</small>
														<div class="input-icon">
															<i class="fa-regular fa-id-card"></i>
															<input id="id_apph" name="id_apph" type="text"
																value="<%= blog.id_apph %>" readonly>
														</div>
													</div>
												</div>
												<div class="col-lg-6 col-md-6 col-12">
													<div class="form-group position-relative">
														<small>Nama Anda</small>
														<div class="input-icon">
															<i class="fa-solid fa-user-tie"></i>
															<input id="nama_apph" name="nama_apph" type="text"
																value="<%= blog.nama_apph %>" readonly>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-12 col-12">
								<div class="row">
									<div class="col-12">
										<div class="comments-form">
											<div class="d-flex justify-content-between align-items-center">
												<h2 style="display: inline;">
													Blog Di Ajukan
												</h2>
												<i style="font-size: 15px;" class="fa-solid fa-info-circle"
													title="Data tidak dapat diubah"></i>
											</div>
											<div class="row">
												<div class="col-lg-12 col-md-6 col-12">
													<div class="form-group">
														<small>Judul - Berikan Judul untuk Blog Hukum Ini</small>
														<div class="input-icon">
															<i class="fa-solid fa-pen-nib"></i>
															<input id="judul" name="judul" value="<%= blog.judul %>"
																type="text" oninput="validateJudul(this)">
															<small id="error-message-judul"
																style="color:red; display:none;">Hanya
																Alfabet A-Z
																dan tidak lebih dari 150 karakter</small>
														</div>
													</div>
												</div>
												<div class="col-lg-12 col-md-6 col-12">
													<div class="form-group">
														<small>Dasar Hukum - Berikan Dasar Hukum Blog Hukum
															Ini</small>
														<div class="input-icon">
															<i class="fa-solid fa-book"></i>
															<input id="undang_undang" value="<%= blog.undang_undang %>"
																name="undang_undang" type="text"
																oninput="validateUU(this)">
															<small id="error-message-undang_undang"
																style="color:red; display:none;">Tidak lebih dari 550
																karakter</small>
														</div>
													</div>
												</div>
												<div class="col-lg-12 col-md-6 col-12">
													<div class="form-group">
														<small>Referensi - Berikan Referensi Blog Anda</small>
														<div class="input-icon">
															<i class="fa-solid fa-book-bookmark"></i>
															<input id="doc_pendukung" name="doc_pendukung"
																value="<%= blog.doc_pendukung %>" type="text"
																oninput="validateReferensi(this)">
															<small id="error-message-doc_pendukung"
																style="color:red; display:none;">Tidak lebih dari 550
																karakter</small>
														</div>
													</div>
												</div>

												<div class="col-lg-12 col-md-12 col-12">
													<div class="form-group message">
														<div class="input-icon">
															<textarea id="froala-editor" name="isi"
																placeholder="Tolong, pastikan kebenaran dan keakuratan isi berdasarkan peraturan perundang-udangan yang berlaku dan relevan"><%= blog.isi %> </textarea>
														</div>
													</div>
												</div>
											</div>
											<div class="col-lg-0 col-md-0 col-12">
												<div class="form-group text-lg-right text-md-right text-center">
													<div class="get-quote">
														<button type="submit" class="btn">Kirim</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</form>
					</div>
				</div>
			</section>

			<%- include('../partials/footer') %>

				<%- include('../partials/js') %>

					<!-- Solusi Adil - JS Library -->
					<script
						src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/froala_editor.min.js"></script>
					<script
						src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/plugins/align.min.js"></script>
					<script
						src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/plugins/char_counter.min.js"></script>
					<script
						src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/plugins/code_beautifier.min.js"></script>
					<script
						src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/plugins/code_view.min.js"></script>
					<script
						src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/plugins/colors.min.js"></script>
					<script
						src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/plugins/draggable.min.js"></script>
					<script
						src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/plugins/emoticons.min.js"></script>
					<script
						src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/plugins/entities.min.js"></script>
					<script
						src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/plugins/file.min.js"></script>
					<script
						src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/plugins/font_family.min.js"></script>
					<script
						src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/plugins/font_size.min.js"></script>
					<script
						src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/plugins/fullscreen.min.js"></script>
					<script
						src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/plugins/image.min.js"></script>
					<script
						src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/plugins/image_manager.min.js"></script>
					<script
						src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/plugins/inline_style.min.js"></script>
					<script
						src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/plugins/line_breaker.min.js"></script>
					<script
						src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/plugins/link.min.js"></script>
					<script
						src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/plugins/lists.min.js"></script>
					<script
						src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/plugins/paragraph_format.min.js"></script>
					<script
						src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/plugins/paragraph_style.min.js"></script>
					<script
						src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/plugins/quick_insert.min.js"></script>
					<script
						src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/plugins/quote.min.js"></script>
					<script
						src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/plugins/save.min.js"></script>
					<script
						src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/plugins/table.min.js"></script>
					<script
						src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/plugins/url.min.js"></script>
					<script
						src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/plugins/video.min.js"></script>
					<script>
						new FroalaEditor('#froala-editor', {
							toolbarButtons: ['bold', 'italic', 'underline', 'strikeThrough', 'formatOL', 'formatUL', 'insertLink', 'emoticons', 'specialCharacters', '|', 'undo', 'redo', 'html'],
							pluginsEnabled: ['align', 'charCounter', 'codeBeautifier', 'colors', 'draggable', 'emoticons', 'entities', 'file', 'fontFamily', 'fontSize', 'fullscreen', 'image', 'imageManager', 'inlineStyle', 'lineBreaker', 'link', 'lists', 'paragraphFormat', 'paragraphStyle', 'quote', 'save', 'table', 'url', 'video'],
							charCounterCount: true,
							toolbarSticky: true,
							height: 250,
							width: 1000,

						});
					</script>
					<script src="function/blog.js"></script>
					<script>
						function convertHtmlToTextWithFormatting(html) {
							const parser = new DOMParser();
							const doc = parser.parseFromString(html, 'text/html');
							return doc.body.innerHTML;
						}
						const htmlContent = `<%- blog.isi %>`;
						const formattedTextElement = document.getElementById('formatted-dsa');
						formattedTextElement.innerHTML = convertHtmlToTextWithFormatting(htmlContent);
						formattedTextElement.style.setProperty('color', 'black', 'important');

						console.log(window.getComputedStyle(formattedTextElement).color);
					</script>
					<script>
						function confirmDelete(id) {
							if (confirm("Apakah Anda yakin ingin menghapus ID " + id + "?")) {
								window.location.href = "/hapusblog?id=" + id;
							}
						}
					</script>
	</body>

</html>