<!doctype html>
<html class="no-js" lang="zxx">

<%- include('../partials/head') %>

	<body>

		<%- include('../partials/header', { activePage: 'datablog' }) %>
			<section class="news-single section" style="padding-top: 5px;">
				<div class="container">
					<div class="row"></div>
					<div class="col-lg-12 col-2">
						<div class="col-lg-12 col-12">
							<div class="row">
								<div class="col-12">
									<div class="comments-form">
										<h1 style="font-size: 18px;"><i style="font-size: 25px;"
												class="fa-solid fa-comments"></i> blog</h1>
									</div>
								</div>
							</div>
						</div>
						<form action="/kirimblog" method="POST">
							<div class="col-lg-12 col-12">
								<div class="row">
									<div class="col-12">
										<div class="comments-form">
											<div class="d-flex justify-content-between align-items-center">
												<h2 style="display: inline;">
													Blog Hukum Baru
												</h2>
												<i style="font-size: 15px;" class="fa-solid fa-info-circle"
													title="Data tidak dapat diubah"></i>
											</div>
											<div class="row">
												<div class="col-lg-6 col-md-6 col-12">
													<div class="form-group position-relative">
														<small>ID blog</small>
														<div class="input-icon">
															<i class="fa-solid fa-folder-closed"></i>
															<input id="id_blog" name="id_blog"
																oninput="validateLength(this)" readonly>
														</div>
														<small id="error-message" style="color:red; display:none;">ID
															hanya
															terdiri
															dari 9 angka acak</small>
													</div>
												</div>
												<div class="col-lg-6 col-md-6 col-12">
													<div class="form-group position-relative">
														<small>Tanggal Pengajuan Blog</small>
														<div class="input-icon">
															<i class="fa-solid fa-calendar-days"></i>
															<input id="tanggal" name="tanggal" readonly>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-12 col-12">
								<div class="row">
									<div class="col-12">
										<div class="comments-form">
											<div class="d-flex justify-content-between align-items-center">
												<h2 style="display: inline;">
													Penulis Blog - Anda Pengguna Terverifikasi
												</h2>
												<i style="font-size: 15px;" class="fa-solid fa-info-circle"
													title="Data tidak dapat diubah"></i>
											</div>
											<div class="row">
												<div class="col-lg-6 col-md-6 col-12">
													<div class="form-group position-relative">
														<small>ID APPH Anda</small>
														<div class="input-icon">
															<i class="fa-regular fa-id-card"></i>
															<input id="id_apph" name="id_apph" type="text"
																value="<%= id_apph %>" readonly>
														</div>
													</div>
												</div>
												<div class="col-lg-6 col-md-6 col-12">
													<div class="form-group position-relative">
														<small>Nama Anda</small>
														<div class="input-icon">
															<i class="fa-solid fa-user-tie"></i>
															<input id="nama_apph" name="nama_apph" type="text"
																value="<%= nama_apph %>" readonly>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-12 col-12">
								<div class="row">
									<div class="col-12">
										<div class="comments-form">
											<h2 style="display: inline;"> Judul dan Referensi
											</h2> <br><br>
											<div class="row">
												<div class="col-lg-12 col-md-6 col-12">
													<div class="form-group">
														<small>Judul - Berikan Judul untuk Blog Hukum Ini</small>
														<div class="input-icon">
															<i class="fa-solid fa-pen-nib"></i>
															<input id="judul" name="judul" type="text"
																oninput="validateJudul(this)" required>
															<small id="error-message-judul"
																style="color:red; display:none;">Hanya
																Alfabet A-Z
																dan tidak lebih dari 150 karakter</small>
														</div>
													</div>
												</div>
												<div class="col-lg-12 col-md-6 col-12">
													<div class="form-group">
														<small>Dasar Hukum - Berikan Dasar Hukum Blog Hukum
															Ini</small>
														<div class="input-icon">
															<i class="fa-solid fa-book"></i>
															<input id="undang_undang" name="undang_undang" type="text"
																oninput="validateUU(this)" required>
															<small id="error-message-undang_undang"
																style="color:red; display:none;">Tidak lebih dari 550
																karakter</small>
														</div>
													</div>
												</div>
												<div class="col-lg-12 col-md-6 col-12">
													<div class="form-group">
														<small>Referensi - Berikan Referensi Blog Anda</small>
														<div class="input-icon">
															<i class="fa-solid fa-book-bookmark"></i>
															<input id="doc_pendukung" name="doc_pendukung" type="text"
																oninput="validateReferensi(this)" required>
															<small id="error-message-doc_pendukung"
																style="color:red; display:none;">Tidak lebih dari 550
																karakter</small>
														</div>
													</div>
												</div>
												<!-- <div class="col-lg-12 col-md-6 col-12">
											<div class="form-group">
												<small>Sampul Blog</small>
												<div class="custom-file-upload">
													<input id="file-input" name="tag" type="file"
														accept=".jpg, .jpeg, .png" required>
													<label for="file-input" class="btn btn-primary">
														 Pilih File
													</label>
													<span id="file-name" class="file-name">Tidak ada file yang
														dipilih</span>
													<small id="file-error" class="text-danger"></small>
												</div>
											</div>
										</div> -->
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-12 col-12">
								<div class="row">
									<div class="col-12">
										<div class="comments-form">
											<div class="d-flex justify-content-between align-items-center">
												<h2 style="display: inline;">
													Blog
												</h2>
												<i style="font-size: 15px;" class="fa-solid fa-info-circle"
													title="Data tidak dapat diubah"></i>
											</div>
											<div class="row">
												<div class="col-lg-12 col-md-12 col-12">
													<div class="form-group message">
														<div class="input-icon">
															<textarea id="froala-editor" name="isi"
																placeholder="Tolong, pastikan kebenaran dan keakuratan isi berdasarkan peraturan perundang-udangan yang berlaku dan relevan"> </textarea>
														</div>
													</div>
												</div>
											</div>

											<div class="col-lg-0 col-md-0 col-12">
												<div class="form-group text-lg-right text-md-right text-center">
													<div class="get-quote">
														<button type="submit" class="btn">Kirim</button>
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>
							</div>
						</form>

					</div>
			</section>

			<%- include('../partials/footer') %>

				<!-- Solusi Adil - JS Library -->
				<script
					src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/froala_editor.min.js"></script>
				<script
					src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/plugins/align.min.js"></script>
				<script
					src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/plugins/char_counter.min.js"></script>
				<script
					src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/plugins/code_beautifier.min.js"></script>
				<script
					src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/plugins/code_view.min.js"></script>
				<script
					src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/plugins/colors.min.js"></script>
				<script
					src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/plugins/draggable.min.js"></script>
				<script
					src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/plugins/emoticons.min.js"></script>
				<script
					src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/plugins/entities.min.js"></script>
				<script
					src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/plugins/file.min.js"></script>
				<script
					src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/plugins/font_family.min.js"></script>
				<script
					src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/plugins/font_size.min.js"></script>
				<script
					src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/plugins/fullscreen.min.js"></script>
				<script
					src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/plugins/image.min.js"></script>
				<script
					src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/plugins/image_manager.min.js"></script>
				<script
					src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/plugins/inline_style.min.js"></script>
				<script
					src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/plugins/line_breaker.min.js"></script>
				<script
					src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/plugins/link.min.js"></script>
				<script
					src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/plugins/lists.min.js"></script>
				<script
					src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/plugins/paragraph_format.min.js"></script>
				<script
					src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/plugins/paragraph_style.min.js"></script>
				<script
					src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/plugins/quick_insert.min.js"></script>
				<script
					src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/plugins/quote.min.js"></script>
				<script
					src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/plugins/save.min.js"></script>
				<script
					src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/plugins/table.min.js"></script>
				<script
					src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/plugins/url.min.js"></script>
				<script
					src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/plugins/video.min.js"></script>
				<script>
					new FroalaEditor('#froala-editor', {
						toolbarButtons: ['bold', 'italic', 'underline', 'strikeThrough', 'formatOL', 'formatUL', 'insertLink', 'emoticons', 'specialCharacters', '|', 'undo', 'redo', 'html'],
						pluginsEnabled: ['align', 'charCounter', 'codeBeautifier', 'colors', 'draggable', 'emoticons', 'entities', 'file', 'fontFamily', 'fontSize', 'fullscreen', 'image', 'imageManager', 'inlineStyle', 'lineBreaker', 'link', 'lists', 'paragraphFormat', 'paragraphStyle', 'quote', 'save', 'table', 'url', 'video'],
						charCounterCount: true,
						toolbarSticky: true,
						height: 250,
						width: 1000,

					});
				</script>

				<script>
					document.getElementById('file-input').addEventListener('change', function (event) {
						const fileInput = event.target;
						const fileNameElement = document.getElementById('file-name');
						const fileErrorElement = document.getElementById('file-error');
						const file = fileInput.files[0];
						if (file) {
							const validTypes = ['image/jpeg', 'image/png'];
							if (!validTypes.includes(file.type)) {
								fileNameElement.textContent = 'Format file tidak valid. Harus JPG atau PNG.';
								fileErrorElement.textContent = '';
								fileInput.value = '';
								return;
							}
							const maxSizeMB = 1;
							const maxSizeBytes = maxSizeMB * 1024 * 1024;
							if (file.size > maxSizeBytes) {
								fileNameElement.textContent = 'File terlalu besar. Maksimal 1MB.';
								fileErrorElement.textContent = '';
								fileInput.value = '';
								return;
							}
							fileNameElement.textContent = file.name;
							fileErrorElement.textContent = '';
						} else {
							fileNameElement.textContent = 'Tidak ada file yang dipilih';
							fileErrorElement.textContent = '';
						}
					});
				</script>
				<script src="function/blog.js"></script>
				<script src="js/jquery.min.js"></script>
				<script src="js/jquery-migrate-3.0.0.js"></script>
				<script src="js/jquery-ui.min.js"></script>
				<script src="js/easing.js"></script>
				<script src="js/colors.js"></script>
				<script src="js/popper.min.js"></script>
				<script src="js/bootstrap-datepicker.js"></script>
				<script src="js/jquery.nav.js"></script>
				<script src="js/slicknav.min.js"></script>
				<script src="js/jquery.scrollUp.min.js"></script>
				<script src="js/niceselect.js"></script>
				<script src="js/tilt.jquery.min.js"></script>
				<script src="js/owl-carousel.js"></script>
				<script src="js/jquery.counterup.min.js"></script>
				<script src="js/steller.js"></script>
				<script src="js/wow.min.js"></script>
				<script src="js/jquery.magnific-popup.min.js"></script>
				<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
				<script src="js/bootstrap.min.js"></script>
				<script src="js/main.js"></script>
	</body>

</html>