<!doctype html>
<html class="no-js" lang="zxx">

<%- include('../partials/head') %>

	<body>

		<%- include('../partials/header', { activePage: 'dataaturan' }) %>
			<section class="news-single section" style="padding-top: 5px;">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-2">
							<div class="row">
								<div class="col-12">
									<div class="comments-form d-flex justify-content-between align-items-center">
										<h1 style="font-size: 18px;"><i class="fa-solid fa-compass"></i> Cari aturan Hukum</h1>
										<div class="get-quote">
											<a href="tulisaturan" class="btn">aturan Hukum Baru</a>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-8 col-6">
							<div class="row">
								<div class="col-12">

									<div class="comments-form">
										<h1 style="font-size: 18px; padding-bottom: 25px;"> Data Seluruh aturan</h1>
										<% aturanData.sort((a, b)=> new Date(a.tanggal) - new Date(b.tanggal));
											if (aturanData.length > 0) {
											%>
											<table>
												<thead>
													<tr>
														<th>ID</th>
														<th>Judul</th>
														<th>Institusi</th>
														<th>Aksi</th>
													</tr>
												</thead>
												<tbody>
													<% aturanData.forEach(aturan=> { %>
														<tr>
															<td>
																<%= aturan.id_aturan %>
															</td>
															<td>
																<%= aturan.judul %>
															</td>
															<td>
																<%= aturan.nama_lai %>
															</td>
															<td>
																<form
																	action="<%= aturan.status === 'Diproses' ? '/aturandt' : (aturan.status === 'Diproses' ? '/aturandt2' : '/lihataturan') %>"
																	method="get">
																	<input type="hidden" name="id" value="<%= aturan.id_aturan %>">
																	<% if (aturan.status==='Diproses' ) { %>
																		<button type="submit" class="btn-jawab">Lihat</button>
																			<% } else if (aturan.status==='Terbit' ) { %>
																				<button type="submit" class="btn-selesai">Lihat</button>
																				<% } else if (aturan.status==='Gagal' ) { %>
																					<button type="submit" class="btn-gagal">Lihat</button>
																					<% } %>
																</form>
															</td>
														</tr>
														<% }); %>
												</tbody>
											</table>
											<% } else { %>
												<p>Tidak ada data aturan yang tersedia.</p>
												<% } %>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-12">
							<div class="main-sidebar">
								<div class="single-widget recent-post">
									<h3 class="title" style="padding-bottom: 0px; margin-bottom: 0px;">Data aturan</h3>
									<br>
									<div class="content">
										<ul class="comment" style="font-size: 12px;">
											<% const totalaturan2=aturanData.length; const
												jumlahaturanProses1=aturanData.filter(aturan=> aturan.status ===
												'Diproses').length;
												const jumlahaturanSelesai1 = aturanData.filter(aturan => aturan.status ===
												'Diterima').length;
												const jumlahaturanGagal1 = aturanData.filter(aturan => aturan.status ===
												'Gagal').length;
												%>
												<li><i class="fa-solid fa-address-card" aria-hidden="true"></i>
													Jumlah Seluruh aturan: <i
														style="background-color:darkgrey ; padding: 5px; color:black ; border-radius: 100px;">
														<%= totalaturan2 %>
													</i>
												</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<%- include('../partials/footer') %>

				<%- include('../partials/js') %>
	</body>

</html>